/CloudApp/build/
/CloudApp/dist/
/CloudClient/nbproject/private/
/CloudClient/build/
/CloudScheduler/build/
/CloudScheduler/dist/
CloudClient/nbproject/private/private.properties
CloudApp/nbproject/private/private.properties
*.properties